@charset "utf-8";

body{
	background-color: #f6e1b1;
	margin: 0px;
}
#listacarros{
	font-family: Helvetica, Arial, Tahoma;
	width: 100%;
	border-collapse: collapse;
}
#listacarros td, #listacarros th{
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}
#listacarros th{
	background-color: red;
	color: white;
}
#listacarros tr:hover{
	background-color: #ddd;
}

#listacarros img{
	width: 100px;
	height: 50px;
}

#listacarros img:hover{
	transform: scale(1.8);
}

