@charset "utf-8";
body{
	background-color:aliceblue; 
	color:darkblue;
	
}

#listarTabelas{
	width: 100%;
	border-collapse: collapse;
}

#listarTabelas td, #listarTabelas th{
    border: 1px solid #ddd;
    padding: 5px;
    text-align:center;	
}

#listarTabelas th{
	background-color:steelblue;
	color:darkblue;
}

#listarTabelas tr:hover{
	background-color:lightsteelblue;
}

img{
	width:100%;
	}
	
.button1{
	background-color:steelblue;
	color:linen;
	padding:8px 12px;
	border-radius:12px;
	font-size:15px;
}
.button1:hover {
	background-color:dodgerblue;
	color:linen;
}

.button2{
	background-color:firebrick;
	color:linen;
	padding:10px 12px;
	border-radius:12px;
	font-size:15px;
}
.button2:hover {
	background-color:tomato;
	color:linen;
}